.App {
  text-align: center;
}

body {
    background-image: url("../src/images/bgimg.jpg");
}

.app-title {
    background-color: #888888;
    font-weight: 700;
    color: #CCCCCC;
    font-style: italic;
}

div.menu.tabular.top.attached > a.item.active {
    background-color:#FAFAFA;
    color: #2a75ed;
    font-weight:700;
}

div.menu.tabular.top.attached > a.item:not(.active) {
    background-color:#CCCCCC;
    font-weight:300;
}

.container-header-text{
    font-weight: 700;
    color:red;
}

div.ui.segment {
    margin-top: 16px;
}

i.large-user-type {
    font-size: 24px;
    height: 32px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ethAddr {
  color: #AA8866;
  font-size: 20px;
  font-weight: 700;
}

.no-border-radius {
  border-radius: 0px !important;
}

.ui .button {
  background-color: #4444ff;
  color: white;
  border-radius: 16px;
}

.ui .button:hover {
  background-color: white;
  color: #4444ff;
  border: 2px solid #4444ff;
}

#withdraw {
  background-color: #dd4b39;
  color: white;
}
#withdraw:hover {
  background-color: white;
  color: #dd4b39;
  border: 2px solid #dd4b39;
  transition: .2s;
}
#balanceHeader {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
  padding-left: 25px;
}

#balanceNum {
  font-weight: 200;
}